/* font-family: 'Raleway', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; */
.container {
  position: relative;
  min-height: 100vh;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
h2, h1, h3 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
}
h1 {
  margin-top: -6%;
  padding-bottom: 105%;
  font-size: 2.6em;
}
h2 {
  letter-spacing: 2px;
  margin: 0;
}
.content {
  margin: 4% 4% 0 4%;
}
.work, .about h2 {
  margin: 0;
  padding: 4%;
  border-left: 2px solid rgb(253, 85, 48);
  border-bottom: 2px solid rgb(253, 85, 48);
}
.about {
  border-bottom: 2px solid rgb(253, 85, 48);
}
.about p {
  margin: 0;
  padding: 4%;
  border-right: 2px solid rgb(253, 85, 48);
}
.work {
  padding-bottom: 4em;
}
.project-image {
  max-width: 100%;
}
ul {
  padding: 0;
  display: grid;
  justify-items: center;
}
li {
  background-color: rgb(253, 85, 48);
  border-radius: 2px;
  list-style: none;
  margin: 4px;
  padding: 8px;
  width: 80%;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 3px;
}
li > a {
  color: white;
}
p {
  letter-spacing: .4px;
  text-align: justify;
}

@media screen and (min-width: 450px) {
  .cover-container {
    width: 420px;
    margin: 0 auto;
  }
  ul {
    display: flex;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1000px) {
  .home {
    display: inline-grid ;
  }
  .cover-container {
    margin: 0 2%;
    position: fixed;
    width: 450px;
    height: 87%;
  }
  .cover {
    width: 80%;
  }
  .content {
    padding-left: 450px;
    margin-top: 0;
  }
}