/* font-family: 'Raleway', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; */

.header {
  font-family: 'Raleway', sans-serif;
}
body {
  margin: 0;
}
h1 {
  margin: 0;
}
main {
  margin-top: 30px;
}
.social-image {
  max-width: 40px;
}